
.about-component{
    width: 100%;
    min-height:100% ;
    display: grid;
    place-items: center;
    background-color: white;
}
.about-row{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;

}
.about-row .about-image{
    overflow: hidden;
}
.about-row .about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.about-row .about-image:hover img{
    transform: scale(1.25);
}
.about-row .contentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }
  
  .about-row .contentWrapper .textWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .about-row .contentWrapper .textWrapper::before {
    content: '';
    display: inline-block;
    background: var(--font-color);
    width: 70px;
    height: 5px;
  }
  .about-row .contentWrapper span.textWrapper span{
    font-size: 1.5rem;
}
.about-row .contentWrapper h2{
    font-size: 40px;
    font-weight: 700;
    color: black;
    padding-bottom: 20px;
}
.about-row .contentWrapper p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
    
}
@media (max-width: 991px) {
    .about-row {
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }
    
    .contentWrapper {
      padding-left: 0;
    }
  }
  
  @media (max-width: 768px) {
    .about-row {
      width: 90%;
    }
    
    .contentWrapper h2 {
      font-size: 30px;
      padding-bottom: 20px;
    }
    
    .contentWrapper p {
      line-height: 24px;
    }
  }
  
  @media (max-width: 575px) {
    .contentWrapper h2 {
      font-size: 25px;
    }
    
    .contentWrapper p {
      font-size: 15px;
      line-height: 22px;
    }
  }