
.footercontainer{
    background-color:  #fff4f3;
    width: 100%;
    padding: 50px 30px 20px;
}
.socialicons{
    display: flex;
    justify-content: center;

}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2em;
    color:  var(--font-color);
    opacity: 0.9;
}
.socialicons a:hover{
    background-color:var(--font-color);
    transition: 0.5s;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerbottom{
    background-color:   #fff4f3;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: black;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

@media(max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}