:root{
    --font-color:#e01e37;
    --main-color:#e01e38bc;
    --main-bg:rgb(248, 249, 250);
    --sec-bg:rgb(245, 243, 244);
    --border:.1rem solid rgba(255,255,255,.3);
    --sec-color:rgb(173, 181, 189) ;
}
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    border:none ;
    
    box-sizing: border-box;
   
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--sec-color);
    border-radius: 5rem;
}
body{
    background: var(--main-bg);
}
.section{
    padding: 2rem 7%;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .1rem;
}
.header {
    background: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 2.2cm;
    padding: 4rem 8rem;
  }
  
  .header .logo img {
    height: 9em;
    width: 18rem;
  }
    
  .header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    color: black;
    text-decoration: none;
  }
  
  .header .navbar a:hover {
    color: var(--font-color);
    border-bottom: .1rem solid var(--font-color);
    padding-bottom: .5rem;
  }
  
  .header .icons div {
    color: black;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
  }
  
  .header .icons div:hover {
    color: var(--font-color);
  }
  
  #menu-btn {
    display: none;
  }
  
  .header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: var(--main-bg);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .search-form.active {
    transform: scaleY(1);
  }
  
  .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
  }
  
  .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
  }
  
  .search-form label:hover {
    color: var(--font-color);
  }
  
  .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(110vh - 9.5rem);
    width: 35rem;
    background: var(--sec-bg);
    padding: 0 1.5rem;
  }
  
  .cart-items-container.active {
    right: 0;
  }
  
  .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
  }
  
  .cart-items-container .cart-item .fa-times:hover {
    color: var(--font-color);
  }
  
  .cart-items-container .cart-item img {
    height: 7rem;
    width: 9rem;
  }
  
  .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;
  }
  
  .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--font-color);
  }
  
  .cart-items-container .btn {
    width: 100%;
    text-align: center;
  }



