
.header {
    background: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 2.2cm;
    padding: 4rem 8rem;
  }
  
  .header .logo img {
    height: 5.5em;
    width: 15rem;
   
  }
    
  .header .navbar a {
    margin: 0 1rem;
    font-size: 1.9rem;
    color: black;
    text-decoration: none;
  }
  
  .header .navbar a:hover {
    color: var(--font-color);
    border-bottom: .1rem solid var(--font-color);
    padding-bottom: .5rem;
  }
  
  .header .icons div {
    color: black;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
  }
  
  .header .icons div:hover {
    color: var(--font-color);
  }
  
  #menu-btn {
    display: none;
  }
  
  .header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: var(--main-bg);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
  }
  
  .search-form.active {
    transform: scaleY(1);
  }
  
  .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
  }
  
  .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
  }
  
  .search-form label:hover {
    color: var(--font-color);
  }
  
  .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(110vh - 9.5rem);
    width: 35rem;
    background: var(--sec-bg);
    padding: 0 1.5rem;
  }
  
  .cart-items-container.active {
    right: 0;
  }
  
  .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
  }
  
  .cart-items-container .cart-item .fa-times:hover {
    color: var(--font-color);
  }
  
  .cart-items-container .cart-item img {
    height: 7rem;
    width: 9rem;
  }
  
  .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;
  }
  
  .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--font-color);
  }
  .cart-items-container .total h3 {
    font-size: 2rem;
  
    
  }
  .cart-items-container .total  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: 500;
    bottom: 160px;
    position: absolute;
    width: 90%;
    color: #000;
    
  }

  
  .cart-items-container .btn {
    width: 93%;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    padding: 10px ;
    justify-content: center;
    text-align: center;
    bottom:15%;
    position: absolute;
  }
  

  .quantity {
    display: flex;
    align-items: center;
    margin-top: 7px;
  }
  
  .quantity button {
    background-color: #ddd;
    border: none;
    padding: 0;
    width: 15px; /* Set the width and height to make the button a circle */
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; /* Adjust the font size as needed */
    margin: 0 5px;
  }
  
  .quantity span {
    min-width: 20px;
    text-align: center;
    color: #000;
  }
  

  @media (max-width: 991px) {
    .html{
      font-size: 50%;
    }
    .header {
        padding: 1.5rem 1rem;
    }
    
   
}
@media (max-width: 768px) {
  #menu-btn {
      display: inline-block;
  }

  .header .navbar {
      position: absolute;
      top: 100%;
      right: -100%;
      background: var(--sec-bg);
      width: 35rem;
      height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
      right: 0;
  }

  .header .navbar a {
      color: black;
      display: block;
      margin: 1.5rem;
      padding: .5rem;
      font-size: 2rem;
  }
  .header .search-form {
    width: 90%;
    right: 2rem;
  }
 
}
@media (max-width: 450px) {
  html {
      font-size: 50%;
  }
 

  /* .header { padding: 1.5rem 2rem; } */
}


